.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.links:hover,
.links:focus {
 color: #404bbf;
}

h1,
h2,
h3,
h4,
p{
  margin-top: 0;
  margin-bottom: 0;
}
ul,ol{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;

}
img{
display: block;
}
button{
cursor: pointer;
}
.container{
width: 1440px;
margin-left: auto;
margin-right: auto;
padding-right: 15px;
padding-left: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  color:var(--slate);
  background-color: #ffffff;
}
:root {
  --naviblue: #2e2f42;

  --slate: #434455;

  --white: #ffffff;

  --cloud: #f4f4fd;

  --iris: #4d5ae5;
  
  --ocean: #404bbf;
}

/* Logotip */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em ;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;

}
.studio-logo-header{
  color: var(--naviblue);
}
.studio-logo-footer{
  color: #f4f4fd;
}
.menu-item:not(:last-child){
margin-right: 40px;
}

/* Header Navigation */

.header-page-container{
display: flex;  
align-items:center ;
}
.page-header{
  padding-top: 24px;
  padding-bottom:24px;
}
.page-nav{
  display: flex;
  align-items: center;

}
.menu{
  display:flex;
  align-items: center;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color:#2e2f42;
  letter-spacing: 0.02em;
}
/* Adress  */
.address-header{
  font-style: normal;
  margin-left: auto;
 
 }
 .header-contacts{
  display: flex;
  align-items: center;
  justify-content: flex-end;
   
 }
 .address-item{
margin-right: 40px;
 }
.address-link { 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate) ;
}
/* Main menu  */

/* Section 1 */
.hero {
 background-color: #2e2f42; 

}
.hero-tex {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  
}

.button-hero {
  padding-top: 16px;
  padding-right: 32px; 
  padding-bottom: 16px;
  padding-left: 32px; 
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 15);
  border-radius: 4px;
  
}
.button-hero:focus,
.button-hero:hover {
color: #ffffff;
background-color: #404bbf;

}
/* Portfolio  */
.portfolio-button {
  font-family:'Roboto',sans-serif ;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
}
.portfolio-button:focus,
.portfolio-button:hover {
  color: #ffffff;
  background-color: #404bbf;
}


/* Section 4 */

.section-four {
  background-color: #f4f4fd;
  padding-top: 232px;
  padding-bottom: 120px;
}
.our-team{
  display: flex;
  flex-wrap: wrap;
}
.our-team-card{
  background-color: #ffffff;
  flex-basis: calc((100%-72px)/4) ;
}
.our-team-text{ 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  
}
/* Sections  */
.sections{
  padding-top: 128px;
  padding-bottom: 120px;
}
.suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--naviblue);
  text-transform: capitalize;
  padding-top: 32px;
  
}
.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 8px;


}
.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* footer */
.footer {
  background:#2e2f42;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
